# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Variables y secretos — NUNCA dentro de la imagen
.env
.env.*

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp

# DB local y logs
db.sqlite3
*.log

# Otros
.DS_Store